footer(id="rodape")
    hr
    p(class="text-center") Todos os direitos reservados © 2016 
        a(href="http://fb.com/caio.guerra.58152", target="_blank") Caio Guerra
        |  & 
        a(href="http://fb.com/maxwell.kenned", target="_blank") Maxwell Kenned