//- Styles do Projeto
link(rel='stylesheet', href='/css/pace1.css')
link(rel='stylesheet', href="/css/reset.css")
link(rel='stylesheet', href="/css/bootstrap.min.css")
link(rel='stylesheet', href='/vendor/bootswatch/paper/bootstrap.min.css')
link(rel='stylesheet', href='/vendor/bootstrap-table/dist/bootstrap-table.min.css')
link(rel='stylesheet', href='/vendor/jquery-confirm2/dist/jquery-confirm.min.css')
link(rel='stylesheet', href='/css/chat.css')
link(rel='stylesheet', href='/css/files.css')
link(rel='stylesheet', href='/css/uploadfile.css')
link(rel='stylesheet', href='/css/notify.css')
link(rel='stylesheet', href='/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/fa-animation.css')
link(rel='stylesheet', href='/css/bootstrap-checkbox.css')
link(rel='stylesheet', href='/css/style.css')
link(rel="manifest" href="/manifest.json")