//- Styles do Projeto
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/notify.css')
link(rel='stylesheet', href='/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/fa-animation.css')
link(rel='stylesheet', href='/css/build.css')
link(rel='stylesheet', href='/css/bootstrap-checkbox.css')
link(rel='shortcut icon', type='image/png', href='/images/favicon/share-icon-32.png')