nav(class="navbar navbar-default navbar-fixed-top")
    div(class="container")
        div(class="navbar-header")
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar", onclick="menuMobile(this)")
                span(class="sr-only") Toggle navigation
                span(class="bar1 icon-bar1")
                span(class="bar2 icon-bar1")
                span(class="bar3 icon-bar1")
            a(class="navbar-brand faa-parent animated-hover", href="/")
                i(class="fa fa-share-alt fa-fw faa-tada faa-slow" aria-hidden="true")
                i(class="fa fa-cloud-upload fa-fw faa-tada faa-slow" aria-hidden="true")
                |Ceu.Cloud
        div(id="navbar" class="navbar-collapse collapse")
            ul(class="nav navbar-nav")
                li(class="active")
                    a(href="/", class="faa-parent animated-hover")
                        i(class="fa fa-home fa-fw faa-wrench faa-slow") 
                        |Home
                li
                        //
                            a(href="/contatos", class="faa-parent animated-hover")
                                i(class="fa fa-list fa-fw faa-wrench faa-slow")
                                |Contatos
                        
                li
                    a(href="/usuarios", class="faa-parent animated-hover") 
                        i(class="fa fa-user fa-fw faa-wrench faa-slow")
                        |Usuários
                li  
                    //
                        a(href="/email") Entrar em contato
            //
                li(class="dropdown")
                    a(href="#", class="dropdown-toggle" ,data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Dropdown 
                        span(class="caret")
                    ul(class="dropdown-menu")
                        li
                            a(href="#") Ação
                        li
                            a(href="#") Outra ação
                        li
                            a(href="#") Algo mais aqui
                        li(role="separator", class="divider")
                        li(class="dropdown-header") Cabeçalho de navegação
                        li
                            a(href="#") Link separado
                        li
                            a(href="#") Mais um link separado
            
            ul(class="nav navbar-nav navbar-right")
                li(role="separator", class="divider divisor")
                li
                    a(href="/sair", class="faa-parent animated-hover")
                        i(class="fa fa-user fa-fw")
                        |#{session.nome} |
                        i(class="fa fa-sign-out fa-fw faa-flash")
                        | Sair
                //
                    li
                        a(href="../navbar-static-top") Topo estático
                    li(class="active")
                        a(href="./") Topo fixado
                        span(class="sr-only") (current)
block script
    script.
        function menuMobile(x) {
            x.classList.toggle("change");
        }