//- JavaScript do Projeto
script(type='text/javascript', src="/js/jquery.min.js")
script(type='text/javascript', src="/js/pace.min.js")
script(type='text/javascript', src="/js/tether.min.js")
script(type='text/javascript', src="/js/bootstrap.min.js")
script(type='text/javascript', src='/vendor/bootstrap-table/dist/bootstrap-table.min.js')
script(type='text/javascript', src='/vendor/jqueryfiletree/dist/jQueryFileTree.min.js')
script(type='text/javascript', src='/vendor/jquery-confirm2/dist/jquery-confirm.min.js')
script(type='text/javascript', src="/js/jquery-dateFormat.min.js")
script(type='text/javascript', src="/js/filesize.min.js")
script(type='text/javascript', src="/js/notify.js")
script(type='text/javascript', src="/js/style.js")
script(type='text/javascript', src='/js/jquery.uploadfile.min.js')
script(type='text/javascript', src='/vendor/gasparesganga-jquery-loading-overlay/src/loadingoverlay.min.js')