//- JavaScript do Projeto
script(type='text/javascript', src='/js/jquery.min.js')
script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src="/js/notify.js")