//- JavaScript do Projeto
script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/vendor/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/vendor/bootstrap-table/dist/bootstrap-table.min.js')
script(type='text/javascript', src="/js/jquery-dateFormat.min.js")
script(type='text/javascript', src="/js/filesize.min.js")
script(type='text/javascript', src="/js/notify.js")
script(type='text/javascript', src="/js/style.js")
script(type='text/javascript', src='/js/jquery.uploadfile.min.js')