div(class="form-group")
    div(class="row")
        div(class="col-md-12")
            ul(id='messages')
    div(class="row")
        div(class="col-md-12")
            form(action='' class='chat')
              input(id='m' autocomplete='off')
              button Enviar
        