ul(id='messages')
  if lista.length > 0
    each msg in lista
        - var color = msg._idContato?msg._idContato.slice(0,6):''
        li(class='col-md-10 col-xs-10') #{msg.nome} #{moment(msg.data_msg).format('HH:mm DD/MM/YY')}
        li(class='chatMsg col-md-10 col-xs-10', style="background-color:##{color}; opacity:0.8;") #{msg.texto}

form(action='' class='chat')
  input(id='m' autocomplete='off')
  button Enviar
    