form( id='form-upload' action='/upload', method='post', enctype='multipart/form-data')
  div(class="form-group")
    label(class='col-md-10') Selecione o arquivo
      div(id='fileuploader') Upload
    div(id="download")
      table(id="table" class="table table-striped table-condensed table-hover")
        thead
          tr
            th
            th Nome
            th Data de upload
            th Tamanho
        tbody(id="table-body")