div(id="page-file")
  form(id='form-upload' action='/upload', method='post', enctype='multipart/form-data')
    h4(class="text-center") Arquivos
    div(id="upload-div" class="row")
      label(class='col-md-10') Selecione o arquivo
        div(id='fileuploader') Upload
  div(class="row")
    div(id="download")
      div(id="crud-pasta btn-group" style="margin: 0 auto 5px auto;" role="group")
        button(type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal-criarPasta")
          i(class="fa fa-fw fa-plus")
          | Criar pasta
        div(id="modal-criarPasta" class="modal fade modal-criarPasta" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
          div(class="modal-dialog modal-sm" role="document")
            div(class="modal-content")
              div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
                h4(class="modal-title" id="modal-criarPasta-title") Criar pasta
              div(class="modal-body")
                form(id='criar-pasta', action="" method='post')
                  div(class="form-group")
                    label(for="nomePasta") Nome
                    input(type="text", class="form-control", id="nomePasta", name="nomePasta", placeholder="Digite o nome da pasta", required autofocus)
                  div(class="form-group")
                    button(id="btn-criarPasta" type="submit" class="btn btn-outline-success") Criar
      div(id='responsive-table' class="table-responsive text-center" style="max-height:360px; overflow: auto;")
        table(id="table" class="table table-striped table-condensed table-hover")
              thead
                tr
                  th(colspan='2') Nome
                  th Data de upload
                  th Tamanho
                  th Ações
              tbody(id="table-body")