doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    include partials/bootstrap
    include partials/links
    block head
    //- Titulo da Página
    if title
        title= title
    else
        title Ceu.Cloud
  body
    if isLogged
        include partials/menu

    div(class="container")
        block content

        if isLogged
            include partials/footer
    include partials/scripts
    block script