doctype html
html
  head
    link(rel='shortcut icon' type='image/png' href='/images/logo/cloud1.png')
    <!-- Required meta tags always come first -->
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="mobile-web-app-capable" content="yes")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    include partials/bootstrap
    include partials/links
    if title
        title= title
    else
        title Ceu.Cloud
    block head
  body(class="fade-in")
    if isLogged
        include partials/menu

    div(class="container-fluid")
        block content

    include partials/footer
    include partials/scripts
    block script