doctype html
html
  head
    meta(charset="utf-8")
    include partials/bootstrap
    include partials/links
    //- Titulo da Página
    if title
        title= title
    else
        title Portal Share
 
  body
    if isLogged
        include partials/menu

    div(class="container")
        block content

        if isLogged
            include partials/footer
    include partials/scripts
    block script