doctype html
html
  head
    link(rel='shortcut icon' type='image/png' href='/images/logo/cloud1.png')
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    include partials/bootstrap
    include partials/links
    if title
        title= title
    else
        title Ceu.Cloud
  body
    if isLogged
        include partials/menu

    div(class="container")
        block content

    include partials/footer
    include partials/scripts
    block script