// Arquivos de estilo de terceiro
link(rel='stylesheet', href="/vendor/bootstrap/dist/css/bootstrap.min.css")
link(rel='stylesheet', href='/vendor/bootswatch/paper/bootstrap.min.css')
link(rel='stylesheet', href='/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/notify.css')
link(rel='stylesheet', href='/css/build.css')

//Arquivos de estilo personalizado
link(rel='stylesheet', href='/css/style.css')