script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/vendor/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src="/js/notify.js")
script(type='text/javascript', src="/js/style.js")