doctype html
html
  head
    meta(charset="utf-8")
    include partials/bootstrap
    include partials/links
    //- Titulo da Página
    title= title
 
  body
    include partials/menu

    div(class="container")
        block content

        include partials/footer
    include partials/scripts
    block script