doctype html
html(lang="en" data-ng-app="FileManagerApp")
  head
    //
      * Angular FileManager v1.5.1 (https://github.com/joni2back/angular-filemanager)
      * Jonas Sciangula Street <joni2back@gmail.com>
      * Licensed under MIT (https://github.com/joni2back/angular-filemanager/blob/master/LICENSE)

    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    title angular-filemanager

      // third party
    script(src="/vendor/angular/angular.min.js")
    script(src="/vendor/angular-translate/angular-translate.min.js")
    script(src="/vendor/ng-file-upload/ng-file-upload.min.js")
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    link(rel="stylesheet" href="/vendor/bootswatch/paper/bootstrap.min.css")


    // Uncomment if you need to use raw source code
      script(src="/vendor/angular-filemanager/src/js/app.js")
      script(src="/vendor/angular-filemanager/src/js/directives/directives.js")
      script(src="/vendor/angular-filemanager/src/js/filters/filters.js")
      script(src="/vendor/angular-filemanager/src/js/providers/config.js")
      script(src="/vendor/angular-filemanager/src/js/entities/chmod.js")
      script(src="/vendor/angular-filemanager/src/js/entities/item.js")
      script(src="/vendor/angular-filemanager/src/js/services/apihandler.js")
      script(src="/vendor/angular-filemanager/src/js/services/apimiddleware.js")
      script(src="/vendor/angular-filemanager/src/js/services/filenavigator.js")
      script(src="/vendor/angular-filemanager/src/js/providers/translations.js")
      script(src="/vendor/angular-filemanager/src/js/controllers/main.js")
      script(src="/vendor/angular-filemanager/src/js/controllers/selector-controller.js")
      link(href="/vendor/angular-filemanager/src/css/animations.css" rel="stylesheet")
      link(href="/vendor/angular-filemanager/src/css/dialogs.css" rel="stylesheet")
      link(href="/vendor/angular-filemanager/src/css/main.css" rel="stylesheet")
      
    // Comment if you need to use raw source code 
    link(href="/vendor/angular-filemanager/dist/angular-filemanager.min.css" rel="stylesheet")
    script(src="/vendor/angular-filemanager/dist/angular-filemanager.min.js")
    //
      script(type="text/javascript").
        //example to override angular-filemanager default config
        angular.module('FileManagerApp').config(['fileManagerConfigProvider', function (config) {
          var defaults = config.$get();
          config.set({
            appName: 'angular-filemanager',
            pickCallback: function(item) {
              var msg = 'Picked %s "%s" for external use'
                .replace('%s', item.type)
                .replace('%s', item.fullPath());
              window.alert(msg);
            },

            allowedActions: angular.extend(defaults.allowedActions, {
              pickFiles: false,
              pickFolders: false,
            }),
          });
        }]);
  body(class="ng-cloak")
    <angular-filemanager></angular-filemanager>
    //
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-35182652-1', 'auto');
        ga('send', 'pageview');
