extends ../layout

block head
  script( src="/vendor/bootstrap-filestyle/src/bootstrap-filestyle.min.js")
  style.
      form.chat { background: #000; padding: 3px;
      bottom: 0; width: 100%; }
      form.chat input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
      form.chat button { width: 19%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; height:440px; max-height:440px; overflow-y:auto;}
      #messages li { padding: 1px 10px;}
      #messages li:nth-child(odd) { background: #eee; }
block content
  div(style='margin-top:30px')
    div(class='row')
      div(class='col-md-2' style='border-right: 1px solid black;')
        include partials/tree
      div(class='col-md-6' style='border-left: 1px solid black;')
        include partials/file
      div(class='col-md-4' style='border-left: 1px solid black;')
        include partials/chat
    
block script
  script( src="/js/files.js")
  script( src="https://cdn.socket.io/socket.io-1.2.0.js")
  script.
    var socket = io();
    $('.chat').submit(function () {
      var usuario = '#{session.nome}';
      var id = '#{session._id}';
      var texto = $('#m').val();
      var msg = texto;
      var dados = {msg: msg, id: id, nome: usuario};
      if(texto){
        socket.emit('chat message', dados);
        $('#m').val('');
      }
      return false;
    });
    socket.on('welcome', function() {
      $('#messages').append($('<li class="text-center col-md-12 col-xs-12" style="margin-bottom: 410px;">').text('Bem-vindo ao Céu.Cloud'));
      var div = $("#messages");
      div.scrollTop(div.prop('scrollHeight'));
    });
    socket.on('chat message', function(msg){
        var str = msg.id.slice(0,6);
      var d = new Date();
      var data = $.format.date(d , "HH:mm dd/MM/yy");
      $('#messages').append($('<li id="msgNome" class="col-md-10 col-xs-10" style="color:grey;">').text(msg.nome + " "+ data));
      $('#msgNome').append($('<span class="caret pull-right"></span>'));
      $('#messages').append($('<li class="chatMsg col-md-10 col-xs-10" style="background-color:#'+str+';">').text(msg.msg));
      var div = $("#messages");
      div.scrollTop(div.prop('scrollHeight'));
    });
    // AVISOS
  if messages.info
    script.
        $(document).ready(function(){
            $('.alert').hide();
            $.notify('<strong>#{messages.info}</strong>', 'success');
        });
  if messages.erro
    script.
        $(document).ready(function(){
            $('.alert').hide();
            $.notify('<strong>#{messages.erro}</strong>', 'erro');
        });
  script.
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });