extends ../layout

block head

block content
  div(id="index" style="margin-top: 25px;" class="container-fluid")
    div(id="content-left" class='col-xs-12 col-md-3 content-index')
      include partials/contato
    div(id="content-mid" class='col-xs-12 flex-xs-first col-md-6 content-index')
      include partials/file
    div(id="content-right" class='col-xs-12 flex-xs-last col-md-3 content-index')
      include partials/chat
    
block script
  script(type='text/javascript', src="https://cdn.socket.io/socket.io-1.2.0.js")
  script(type='text/javascript', src="/js/home/files.js")
  //script(type='text/javascript', src="/js/home/tree.js")
  script(type='text/javascript', src="/js/home/contatos.js")
  script(type='text/javascript', src="/js/home/chat.js")
  script.
    Pace.options = {
      ajax: {
        ignoreURLs: ['/socket.io', /./g]
      }
    };
  script.
    var socket = io();
    $('#enviar_mensagem').submit( function(){

        socket.emit(
          'msgParaServidor',
          { 
            mensagem: $('#mensagem').val(),
            apelido_atualizado_nos_clientes : $('#apelido_atualizado_nos_clientes').val()
          }
        );  

        $('#mensagem').val("");
        $('#apelido_atualizado_nos_clientes').val(1);
        return false;
      });
      

      socket.on('msgParaCliente', function(data){
        var html = '';

        html += '<div class="dialogo">';
          html += '<h4>' + data.apelido + '</h4>';
          html += '<p>' + data.mensagem + '</p>';
        html += '</div>';

        $('#dialogos').append(html);
        var divDialog = document.getElementById('conversa');
        var divAlt = divDialog.scrollHeight
        divDialog.scrollTo(0, divAlt);
      });


      socket.on('participantesParaCliente', function(data){
        var html = '';

        html += '<span class="participante">';
          html += '<img src="/images/ico_usuario.png">';
          html += data.apelido;
        html += '</span>';

        $('#pessoas').append(html);
      });
  if messages.info
    script.
        $(document).ready(function(){
            $('.alert').hide();
            var msg = "#{messages.info}";
            $.notify(msg, 'success');
        });
  if messages.erro
    script.
        $(document).ready(function(){
            $('.alert').hide();
            $.notify('#{messages.erro}', 'error');
        });
  script.
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });