extends ../layout

block content
  div(style='margin-top:30px')
    div(class='row')
      div(id="content-left" class='col-md-2 content-index')
        include partials/tree
      div(id="content-mid" class='col-md-6 content-index')
        include partials/file
      div(id="content-right" class='col-md-4 content-index')
        include partials/chat
    
block script
  script(type='text/javascript', src="https://cdn.socket.io/socket.io-1.2.0.js")
  script(type='text/javascript', src="/js/chat.js")
  script(type='text/javascript', src="/js/files.js")
  
  script.
    var socket = io();
    $('.chat').submit(function () {
      var usuario = '#{session.nome}';
      var id = '#{session._id}';
      var texto = $('#m').val();
      var msg = texto;
      var dados = {msg: msg, id: id, nome: usuario};
      if(texto){
        socket.emit('chat message', dados);
        $('#m').val('');
      }else{
      $('#m').notify('Digite algo', 'info');
      return false;
      }
      return false;
    });
    socket.on('welcome', function() {
      $('#messages').append($('<li class="text-center col-md-12 col-xs-12">').text('Bem-vindo ao Céu.Cloud'));
      var div = $("#messages");
      div.scrollTop(div.prop('scrollHeight'));
    });
    socket.on('chat message', function(msg){
      var str = msg.id.slice(0,6);
      var d = new Date();
      var data = jQuery.format.prettyDate(d);
      $('#messages').append($('<li id="msgNome" class="col-md-10 col-xs-10" style="color:grey;">').text(msg.nome + " "+ data));
      $('#msgNome').append($('<span class="caret pull-right"></span>'));
      $('#messages').append($('<li class="chatMsg col-md-10 col-xs-10" style="background-color:#'+str+';">').text(msg.msg));
      var div = $("#messages");
      div.scrollTop(div.prop('scrollHeight'));
    });
    // AVISOS
  if messages.info
    script.
        $(document).ready(function(){
            $('.alert').hide();
            var msg = "#{messages.info}";
            $.notify(msg, 'success');
        });
  if messages.erro
    script.
        $(document).ready(function(){
            $('.alert').hide();
            $.notify('#{messages.erro}', 'error');
        });
  script.
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });