extends ../layout

block content
    div(class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2")
        div(class="panel panel-info")
            div(class="panel-heading")
                div(class="panel-title")
                    h1 Criar sua conta
            div(class="panel-body")
                form(method="POST", action="/registrar", role="form")
                    div(class="form-group")
                        label(for="nome") Nome
                        input(type="text", class="form-control", id="nome", name="nome", placeholder="Digite seu nome", value="#{user.nome || ''}", required autofocus)
                    div(class="form-group")
                        label(for="email") E-mail
                        input(type="email", class="form-control", id="email", name='email', placeholder="Digite seu email. Ex: youremail@email.com", value="#{user.email || ''}", required)
                    div(class="form-group")
                        label(for="site") Site
                        input(type="url", class="form-control", id="site", name="site", placeholder="Digite seu site", value="#{user.site || 'http://'}", required)
                    div(class="form-group")
                        label(for="senha") Senha
                        input(type="password", class="form-control", id="senha", name="senha", placeholder="Digite sua senha", required)
                    div(class="form-group")
                        label(for="confirma_senha") Confirmar Senha
                        input(type="password", class="form-control", id="confirma_senha" name="confirma_senha", placeholder="Digite a senha novamente", required)
                    button(type="submit" class="btn btn-success") Salvar
                    div(class="pull-right")
                        a(href="/" class="btn btn-link") voltar ao login
block script
    // pop up de mensagem
    if messages.erro
        each msg in messages.erro   
            script.
                $(document).ready(function(){
                   // $('.alert').hide();
                        $.notify('#{msg}', 'error');
                    });